
            <div class="tab-pane fade" id="currentlyLearning" role="tabpanel" aria-labelledby="currentlyLearning-tab">
              <div class="row">
                <div class="row">
                <% @workflows.each do |upload|%>
                <div class="col-lg-3 col-md-6 col-12">


                  <!-- Card -->
                  <div class="card  mb-4 card-hover">
                    <iframe  class="card-img-top" src= <%= Workflow.where(user_id:current_user).loom_url.gsub(/\bshare\b/, 'embed') %> alt=""
                        class="card-img-top rounded-top-md"></iframe>
                    <!-- Card body -->
                    <div class="card-body">
                        <h3 class="mb-1 text-truncate-line-2 "><a href="" class="text-inherit"><%= Workflow.where(user_id:current_user).title %></a>
                      </h3>
                      <!-- List inline -->
                      <ul class="mb-3  list-inline">
                        <li class="list-inline-item"><i class="mdi mdi-clock-time-four-outline text-muted me-1"></i>3h 56m
                        </li>
                        <li class="list-inline-item"><svg class="me-1 mt-n1" width="16" height="16" viewBox="0 0 16 16"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE">
                            </rect>
                            <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9">
                            </rect>
                            <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9">
                            </rect>
                          </svg>Beginner </li>
                      </ul>
                      <div class="lh-1">
                        <span>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning me-n1"></i>
                          <i class="mdi mdi-star text-warning"></i>
                        </span>
                        <span class="text-warning">4.5</span>
                        <span class="fs-6 text-muted">(9,300)</span>
                      </div>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer">
                      <div class="row align-items-center g-0 ">
                        <div class="col-auto">
                          <img src="https://res.cloudinary.com/dza6mn30y/image/upload/v1645874416/Pushflo/Avatars/Copy_of_Dave_odrthq.png" class="rounded-circle avatar-xs" alt="">
                        </div>
                        <div class="col ms-2">
                          <span><%= User.find(Workflow.find(favourite.workflow_id).user_id).first_name %></span>
                        </div>
                        <div class="col-auto">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <% end %>

              </div>
              </div>
               <div class= "container pb-22"></div>
