

<% if notice %>
<div class="container-fluid pt-lg-2" >
  <div>
    <div  class="flash flash-success alert center-block alert-dismissible fade show col-md-5 d-flex justify-content-center font-weight-bold " id="confetti-new" role="alert">
      <p class="flash-notice justify-content-center"><%= notice %></p>
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times; </a>
    </div>
  </div>
</div>
<% end %>

<% if alert %>
<div class="container-fluid pt-lg-2">
  <div>
    <div class="flash flash-warning alert center-block alert-dismissible fade show col-md-5 d-flex justify-content-center font-weight-bold" role="alert">
      <p class="flash-notice"><%= alert %></p>
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
  </div>
</div>
<% end %>
