<h1>The Push.flo Hub</h1>
<h2>🚀Supercharge your Elgato Streamdeck Workflow</h2>

<!DOCTYPE html>
<html>

<body style="text-align: center;">
<%= link_to "edit user", edit_user_registration_path %>
    <p>
        Find & share new ways to level up your efficiency
    <p>
     <div class= "container d-flex justify-content-center">
       <iframe width="640" height="360" src="https://www.loom.com/embed/15e99ca76c4f419199c0fa97438d9560" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    </video>
</body>
