//
// Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
// the trix-editor content (whether displayed or under editing). Feel free to incorporate this
// inclusion directly in any other asset bundle and remove this file.
//
//= require trix/dist/trix

// We need to override trix.css’s image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.

trix-editor {
		height: 250px !important;
		max-height: 500px !important;
	  	overflow-y: auto !important;
        border: 1px solid #e8e7ed !important;
	}
trix-editor:focus  {
 border-color: #754ffe !important;
	}

.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}


trix-toolbar .trix-button-group button {
  background-color: white;
}

.trix-content {
   display: block;
  width: 100%;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #18113c;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  -webkit-appearance: none;
          appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: auto;
  overflow-y: auto;
  margin-bottom: 15px;
}

.trix-content:focus {
  color: #18113c;
  background-color: #fff;
  border-color: #754ffe;
  outline: 0;
  box-shadow: 0px 0px 0px 3px rgba(231, 225, 253, 0.75);
}

.trix-content-show {

  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}


trix-toolbar .trix-button-group button {
  background-color: white;
}

.trix-content-show {
   display: block;
  width: 100%;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #18113c;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e8e7ed;
  -webkit-appearance: none;
          appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: auto;
  overflow-y: auto;
  margin-bottom: 15px;
}

.trix-content-show:focus {
  color: #18113c;
  background-color: #fff;
  border-color: #754ffe;
  outline: 0;
  box-shadow: 0px 0px 0px 3px rgba(231, 225, 253, 0.75);
}
